Source: kf6-kidletime
Priority: optional
Section: libs
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Aurélien COUDERC <coucouf@debian.org>,
           Patrick Franz <deltaone@debian.org>,
Build-Depends: cmake (>= 3.16~),
               debhelper-compat (= 13),
               dh-exec,
               dh-sequence-kf6,
               dh-sequence-pkgkde-symbolshelper,
               doxygen,
               extra-cmake-modules (>= 6.6.0~),
               libwayland-dev (>= 1.9~) [linux-any],
               libx11-dev,
               libx11-xcb-dev,
               libxcb-sync-dev,
               libxcb1-dev,
               libxss-dev,
               pkgconf,
               plasma-wayland-protocols (>= 1.6.0~) [linux-any],
               qt6-base-dev (>= 6.5.0+dfsg~),
               qt6-base-private-dev (>= 6.5.0+dfsg~),
               qt6-tools-dev (>= 6.5.0~),
               qt6-wayland-dev (>= 6.5.0~) [linux-any],
               wayland-protocols (>= 1.27~) [linux-any],
Standards-Version: 4.7.0
Homepage: https://invent.kde.org/frameworks/kidletime
Vcs-Browser: https://salsa.debian.org/qt-kde-team/kde/kf6-kidletime
Vcs-Git: https://salsa.debian.org/qt-kde-team/kde/kf6-kidletime.git
Rules-Requires-Root: no

Package: libkf6idletime-dev
Section: libdevel
Architecture: any
Depends: libkf6idletime6 (= ${binary:Version}),
         qt6-base-dev (>= 6.5.0+dfsg~),
         ${misc:Depends},
Recommends: libkf6idletime-doc (= ${source:Version}),
Description: development headers for the kidletime library
 This package contains development files for building software that uses
 libraries from the kidletime KDE framework.

Package: libkf6idletime-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: library to provide information about idle time (documentation)
 This library contains a class that allows applications to watch for
 user activity or inactivity. It is useful not only for finding out about
 the current idle time of the PC, but also for getting notified upon idle
 time events, such as custom timeouts, or user activity.
 .
 This package contains the qch documentation files.
Section: doc

Package: libkf6idletime6
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Multi-Arch: same
Recommends: kwayland-integration,
Description: library to provide information about idle time
 This library contains a class that allows applications to watch for
 user activity or inactivity. It is useful not only for finding out about
 the current idle time of the PC, but also for getting notified upon idle
 time events, such as custom timeouts, or user activity.
